//this file will be included in style.sass and compiled into style.css
//use this file to define color variables

$bg-color: #1C1C1C;
$text-color: #F1F1F1;

$nav-text-color: #FFFFFF;

$gradient-pink: #F50057;
$gradient-purple: #6200EA;

$separator-color: #9D9B9B;

$h2-text-color: $gradient-pink;
$h3-text-color: $gradient-purple;	
$subtitle-text-color: #9D9B9B;

$menu-color: #6A5F5F;