@font-face {
    font-family: helvetica-reg;
    src: url('../fonts/HelveticaNeue.ttf');
}
@font-face {
    font-family: helvetica-bold;
    src: url('../fonts/HelveticaNeueBd.ttf');
}

@font-face {
    font-family: helvetica-med;
    src: url('../fonts/HelveticaNeueMd.ttf');
}

@font-face {
    font-family: sensory;
    src: url('../fonts/SensoryOverload.ttf');
}