//this file will be compiled to css/style.css
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300,200);
@import 'colors';
@import 'fonts';

html {
	font-size: 18px;
}

body {
	font-family: 'Source Sans Pro', helvetica-med, sans-serif;
	//background: $bg-color;
	background: url('../img/asfalt.png');
	background-repeat: repeat;
	color: $text-color;
	text-shadow: black 1px 1px;
	font-size: 1rem;
}

h2 {
	color: $h2-text-color;
	font-family: helvetica-bold, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 5px;
	font-size: 0.9rem !important;
	text-align: center;
}

h3 {
	text-transform: uppercase;
	margin: 7px 0;
	padding: 0;
	font-size: 20px;
}

h4 {
	position: absolute;
	width: 100%;
	color: $h3-text-color; 
	bottom: 0;
	display: block;
	text-align: center;
}

.row.no-pad {
  margin-right:0;
  margin-left:0;
}

.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.our-story {
	
	a {
		text-decoration: none;
		color: $bg-color;
	}
	a:hover {
		text-decoration: none;
		color: $bg-color;
	}
}

.picture-about {
	height: 400px;
	width: 400px;
	background: url('../img/interior.jpg') center center;
	background-size: cover;
	float: left;
	margin-right: 30px;
}

.logo-about {
	display: block;
	width: 350px;
	height: auto;
	margin: 0 auto;
}

.about {
	max-width: 800px;
	margin: 30px auto;	

	h2 {
		padding: 10px;
	}

	p {
		color: $text-color;
		padding: 15px;
	}


}


b {
	color: $text-color;
}

.active {
	border: 2px solid white;
}

.tagline{
	position: relative;
	display: inline-block;
	font-family: 'Source Sans Pro';
	top: 150px;	
	margin-left: 20px;
	font-size: 40px;
	padding: 30px;
	margin: 0;
	width: 100%;
	height: auto;
}

.category-content {
	display: none;
	height: 0;
}


.item {
	position: relative;
	text-align: left;
	.item-name {
		font-weight: bold;
		text-transform: uppercase;
	}
	.item-desc {
		font-weight: light;
	}

	.item-price {
		position: absolute;
		top: 50%;
		right: 0;
		margin-top: -10px;

	}
}



//--------------------------
.section-header {
	margin-bottom: 30px;

	> * {
		margin: 0;
		padding: 0;
	}

	p {
		color: $subtitle-text-color;
	}
}

.specials-row {
}
.weekly-special {
	height: 150px;
	overflow: scroll;
	margin-bottom: 30px;
	margin-right: 30px;
	border: 1px solid $subtitle-text-color;

	img {
		float: left;
		margin-left: -15px;
	}
	.special-desc {
		margin-left: 160px;
		vertical-align: top;

		p {
			color: $subtitle-text-color;
		}
	}
}

nav {
	font-family: 'Source Sans Pro';
	text-shadow: none !important;
	font-weight: bolder;
	letter-spacing: 5px;
	text-shadow: 1px 1px black;
	text-transform: uppercase;
	display:flex;
	justify-content:space-between; 
	margin-left: 10px;
	margin-right: 10px;
}

header {
	height: 65px;
	z-index: 100000;
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.7);

	.logo {
		display: inline-block;
		vertical-align: middle;

		&:hover img {
			height: 62px;
			width: auto;

		}
	}
	img {
		height: 60px;
		width: auto;
		margin-top: 100px;
		-webkit-transition: all 0.15s;
    	transition: all 0.15s;
		

	}



}

nav {
	display: inline-block;
	margin-top: 3px;
	font-size: 0.8rem;
	line-height: 35px;
	a {
	color: $nav-text-color; 
	margin: 3px 0;
	padding: 5px 10px;
	border: 2px solid rgba(0,0,0,0);
	-webkit-transition: all 0.15s;
    transition: all 0.15s;
	}

	a:hover {
		text-decoration: none;
		color: $nav-text-color;
		border-color: $nav-text-color;

	}
}

.hero {
	margin-top: 75px;
	height: 250px;

}

.hero-container {
	background: url('http://img07.deviantart.net/e2dd/i/2013/110/1/3/free_mobile_app_background_by_diamonddew123-d62fu70.png');
	background-size: cover;
  	width:100%;
  	height: 1000px;
  	position:relative;
}

.hero-container {

	h1 {
		position: relative;
		top: 50px;
	}
	h3 {
		margin-left:40%;
		position:absolute;
		bottom: 0;
	}
}

.logo img {
	display: block;
	margin: 0 auto;

}
.content {
	> .row {
		margin: 10px;
	}

	> .row-fluid {
		margin: 0 !important;
	}

	> .first {
		margin: 0 -15px;
	}

	&.home {
		margin-top: 90vh;
	}



}


.hero.specials {
	background: url("../img/specials-hero.jpg") no-repeat center center;
	background-size: cover;
}

.footer-gradient {
	width: 100%;
	height: 10px;
	margin-bottom: 25px;
}

.gradient {
	background: $gradient-pink; //for browsers that don't support gradients
	background: -webkit-linear-gradient(left, $gradient-pink , $gradient-purple); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, $gradient-pink, $gradient-purple); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, $gradient-pink, $gradient-purple); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, $gradient-pink, $gradient-purple); /* Standard syntax */
}

footer {

	padding-bottom: 50px;
	text-align: center;
}

.key {
	font-weight: bold;
	text-transform: uppercase;
}
.value {
}

.contact-separator {
	margin: 30px 10%;
	height: 1px;
	background: $separator-color;
}

.separator {
	margin: 10px 10%;
	height: 1px;
	background: $separator-color;
}

.home-hero {
	position: relative;
	width: 100%;
	padding: 0;
	top: 0;
	background: url("../img/home-hero-5-dark.png") no-repeat center center;
	background-size: cover;
	height:100vh; 
}

.happy-hour {
	position: relative;
	max-width: 500px;
	margin-bottom: 100px;

	.key {
		float: left;
	}
	
	.value {
		float: right;
	}
}




.contact {
	background: url("../img/exterior.jpg") no-repeat center center;
	background-size: cover;
}
.contact-content {
	text-align: center; 
}

.address {
	a {
	color: white; 
	font-size:120%;
	border: 3px solid white; 
	padding: 5px 10px;
	}
}

.menuhero {
	background: url("../img/menu-hero-2.png") no-repeat center center;
	background-size: cover;
}

.instructions {
	font-size: 90%;
}



.category-img:before { //allows centering vertically
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.category-img {
	background: url("http://placehold.it/700x500");
	width: 100%;
	height: 90px; 
	border-top: 1px solid white; 
	border-bottom: 1px solid white;
	text-align: center; 

	&.appetizers {
		background: url("../img/menu-appetizers.png") no-repeat center center;
		background-size: cover;
	}
	&.drinks {
		background: url("../img/menu-drinks.png") no-repeat center center;
		background-size: cover;
	}
	&.salad {
		background: url("../img/menu-salad.png") no-repeat center center;
		background-size: cover;
	}
	&.tapas {
		background: url("../img/menu-tapas.png") no-repeat center center;
		background-size: cover;
	}
	&.yakitori {
		background: url("../img/menu-yakitori.png") no-repeat center center;
		background-size: cover;
	}
	&.dessert {
		background: url("../img/menu-dessert.png") no-repeat center center;
		background-size: cover;
	}

}

.category-label {
	display: inline-block;
	vertical-align: middle;
	text-shadow: 1px 1px black;
	border: 3px solid white; 
	padding: 4px 25px;
	font-family: helvetica-med;
	font-size: 120%;
	width: 150px;
}




//------------- ACCORDION MENU
@charset "UTF-8";
/* Base Styles */
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  position: relative;
}
#cssmenu a {
  line-height: 1.3;
}
#cssmenu {
  width: 100%;
}
#cssmenu > ul > li > a {
  display: block;
  background: $menu-color;
  color: $nav-text-color;
  border-bottom: 1px solid $text-color;
  text-transform: uppercase;
}
#cssmenu > ul > li > a > span {
  background: $menu-color;
  padding: 10px;
  display: block;
  font-size: 13px;
  font-weight: 300;
}
#cssmenu > ul > li > a:hover {
  text-decoration: none;
}

#cssmenu span.cnt {
  position: absolute;
  top: 8px;
  right: 15px;
  padding: 0;
  margin: 0;
  background: none;
}
/* Sub menu */
#cssmenu ul ul {
  display: none;
}
#cssmenu ul ul li {
	margin: 0;
  border-bottom: 1px solid #e0e0e0;
}
#cssmenu ul ul a {
  padding: 20px;
  display: block;
  color: $text-color;
  background: $menu-color;
  font-size: 13px;
  cursor: default;
}

@media screen and (max-width: 992px) {
	.map {
		display: none; 
	}

}

@media (min-width: 768px) {
	.logo-about {
		width: 435px;
		height: auto;
	}
	.category-img {
		height: 150px;
	}

	#cssmenu {
		width: 75%;
		margin: 0 auto;
	}

	.instructions {
		text-align: center;
	}

	#cssmenu ul ul li {
		display: inline-block;
		width: 49%;
	}


header {
	padding: 7px 0;
	z-index: 100000;


}

nav {
	float: right;
	display: inline-block;
	position: relative;
	justify-content: none;
	margin-top: 12px;
	margin-right: 20px;

	a {
	color: $nav-text-color; 
	margin: 3px 0;
	padding: 5px 10px;
	border: 2px solid rgba(0,0,0,0);
	-webkit-transition: all 0.15s;
    transition: all 0.15s;
	}

	a:hover {
		text-decoration: none;
		color: $nav-text-color;
		border-color: $nav-text-color;

	}
}
	.logo {
		display: inline-block;
		margin-left: 20px;
	}

	.logo img {
		display: block;
		float: left;
	}
	.home-hero {
		text-align: center;
	}
	.tagline {
		display: inline-block;
		position: relative;
		margin: 0 auto;
		left: 0;
		right: 0;
			height: 400px;
	width: auto;
	}

	.hero {
		margin-top: 45px;
		height: 350px;
	}

}
