//this file will be compiled to css/style.css
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,600,400,300,200);
@import 'colors';
@import 'fonts';

html {
	font-size: 18px; /* rem font sizes will be relative to this font */
	background: black;
}

body {
	font-family: 'Source Sans Pro', helvetica-med, sans-serif;
	//background: $bg-color;
	background: url('../img/asfalt.png');
	background-repeat: repeat;
	color: $text-color;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.6);
	font-size: 1rem;
}

h1 {
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: 400;
	text-shadow: 1px 1px 5px black;
	font-size: 2.5rem;
	color: $text-color;
}

h3 {
	margin: 7px 0;
	padding: 0;
	font-size: 1.7rem;
	width: 100%;
	color: $nav-text-color;
	text-shadow: none;
	font-weight: 600;
	text-align: center;
	letter-spacing: 2px;
}

h5 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1rem;
	font-weight: bold;
	color: $nav-text-color;
	text-transform: uppercase;
}

.row.no-pad {
  margin-right:0;
  margin-left:0;
}

nav {
	margin: 0 !important;
	font-size: 0.8rem;
	font-weight: bold;
	letter-spacing: 5px;
	text-transform: uppercase;
	text-shadow: none;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.6);

	.navbar-inner {
		padding: 7px;
	}

	ul {
		display: flex;
		justify-content: space-between;
	}

	li a {
		margin: auto 10px;
		color: $nav-text-color;
		border: 2px solid rgba(0,0,0,0);
		-webkit-transition: all 0.15s;
		transition: all 0.15s;

		&:hover {
			background: none !important;
			border-color: $nav-text-color;
			text-decoration: none;
			color: $nav-text-color;
		}

		&.active {
			border: 2px solid $nav-text-color;
		}
	}

	.navbar-brand {
		margin: 0;
		padding: 0;
		border: none;

			img {
				height: 60px;
				width: auto;
				-webkit-transition: all 0.15s;
				transition: all 0.15s;
			}
			&:hover {
				border: none;
			}
			&:hover img {
				height: 62px;
				width: auto;
			}
	}
}

.gradient {
	background: $gradient-pink; //for browsers that don't support gradients
	background: -webkit-linear-gradient(left, $gradient-pink , $gradient-purple); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, $gradient-pink, $gradient-purple); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, $gradient-pink, $gradient-purple); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, $gradient-pink, $gradient-purple); /* Standard syntax */
}

.tagline{
	position: relative;
	top: 150px;
	height: 400px;
	width: auto;
	padding: 15px;
}

.hero {
	position: relative;
	margin-top: 68px;
	height: 350px;
	width: 100%;
	text-align: center;
}

.home-hero {
	height:100vh !important; /* makes the image take up the whole screen */
	margin-top: 0 !important;
	background: url("../img/home-hero-5-darker.png") center right/cover no-repeat;
	background-color: #403A38; //shows up while the image loads
}

.menu-hero {
	background: url("../img/menu-hero-4.png") center bottom/cover no-repeat;
	background-color: #451106; //shows up while the image loads
}


.contact-hero {
	background: url("../img/contact-hero.png") no-repeat center top;
	background-size: cover;
	background-color: #90A4AE;
}

.specials-hero {
	background: url("../img/specials-hero-2.jpg") center center/cover no-repeat;
	background-color: #C49561; //shows up while the image loads
}

.explore {
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-transform: uppercase;

	a {
		color: $nav-text-color;
		-webkit-transition: all 0.15s;
		transition: all 0.15s;

		&:hover, &:active, &:visited {
			color: lighten($gradient-pink, 13%);
			text-decoration: none;
		}
	}
}

.logo-about {
	width: 435px;
	height: auto;
}

.instructions {
	text-align: center;
	color: lighten($menu-color, 30%);

	i {
		padding: 0 5px;
		color: lighten($gradient-pink, 20%);
	}
}

#accordion-menu,
#accordion-menu ul,
#accordion-menu li,
#accordion-menu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  position: relative;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

#accordion-menu a {
  line-height: 1.3;
}
#accordion-menu {
	width: 75%;
	margin: 0 auto;
}
#accordion-menu > ul > li > a {
  display: block;
  background: $menu-color;
  color: $nav-text-color;
  border-bottom: 1px solid $text-color;
  text-transform: uppercase;
}
#accordion-menu > ul > li > a > span {
  background: $menu-color;
  padding: 10px;
  display: block;
  font-size: 13px;
  font-weight: 300;
}
#accordion-menu > ul > li > a:hover {
  text-decoration: none;
}

#accordion-menu span.cnt {
  position: absolute;
  top: 8px;
  right: 15px;
  padding: 0;
  margin: 0;
  background: none;
}
/* Sub menu */
#accordion-menu ul ul {
  display: none;
}

#accordion-menu ul ul li {
	margin: 0;
  border-bottom: 1px solid #e0e0e0;
}
#accordion-menu ul ul a {
  padding: 25px;
  display: block;
	color: lighten($subtitle-text-color, 22%);
  background: $menu-color;
  font-size: 0.8rem;
  cursor: default;

	.item-name {
		color: darken($nav-text-color, 10%);
		text-shadow: none !important;
	}

	i {
		padding: 0 5px;
		color: lighten($gradient-pink, 20%);
		cursor: pointer;
	}

}

.category-img:before { //allows centering vertically
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.category-img {
	height: 200px;
	width: 100%;
	border-top: 2px solid white;
	border-bottom: 1px solid white;
	text-align: center;

	&.appetizers {
		border-top: 3px solid white;
		background: url("../img/menu-appetizers.png") center center/cover no-repeat;
	}
	&.drinks {
		background: url("../img/menu-drinks.png") center center/cover no-repeat;
	}
	&.salad {
		background: url("../img/menu-salad.png") center center/cover no-repeat;
	}
	&.tapas {
		background: url("../img/menu-tapas.png") center center/cover no-repeat;
	}
	&.yakitori {
		background: url("../img/menu-yakitori.png") center center/cover no-repeat;
	}
	&.dessert {
		border-bottom: 3px solid white;
		background: url("../img/menu-dessert.png") center center/cover no-repeat;
	}

}

.category-label {
	display: inline-block;
	vertical-align: middle;
	width: 200px;
	padding: 4px 25px;
	font-family: 'Source Sans Pro';
	font-size: 1.2rem;
	letter-spacing: 2px;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
	border: 3px solid white;
}

.item {
	position: relative;
	text-align: left;

	.item-name {
		font-weight: bold;
		text-transform: uppercase;
	}

	.item-desc {
		font-weight: light;
	}

	.item-price {
		position: absolute;
		top: 50%;
		right: 0;
		margin-top: -10px;

	}
}

footer {
	position: relative;
	margin-top: 50px;
	padding-bottom: 38px;
	font-size: 0.8rem;
	text-transform: uppercase;
	letter-spacing: 3px;
	overflow: hidden;
	color: darken($nav-text-color, 15%);
	text-align: center;

	img {
		position: absolute;
		left: 0;
		width: 100%;
		height: auto;
	}

	.footer-content {
		margin-top: 25px;
		border: 3px solid white;
		text-shadow: none;

		a {
			color: inherit; //use default
		}
		.res {
			font-size: 0.8rem;

			a {
				color: $nav-text-color;
				border-bottom: 1px solid $nav-text-color;

				&:hover {
					color: darken($nav-text-color, 30%);
					text-decoration: none;
				}
			}
		}
	}
}

.copyright {
	position: absolute;
	display: inline-block;
	bottom: 3px;
	left: 0;
	right: 0;
	font-size: 0.5rem;
	color: $subtitle-text-color;
	text-shadow: none;
	letter-spacing: 1px;

	a {
		color: lighten($subtitle-text-color, 15%);
	}
}

.about {
	//max-width: 800px;
	margin: 30px auto;
	background: $bg-color;
	padding: 30px 0 50px;

	.about-content {
		width: 500px;
		margin: 0 auto;
	}

	p {
		color: lighten(black, 60%);
		padding: 15px;
		text-shadow: none;
	}
}


.questions-section {
	padding: 50px;
	background: url('../img/interior.png') center center/cover no-repeat;

	.white-bg {
		width: 500px;
		padding: 10px 30px;
		text-align: left;
		margin: 0 auto;
		background-color: rgba(255,255,255,0.8);
		color: black;
		text-shadow: none;
		letter-spacing: 1px;
		box-shadow: 1px 1px 10px rgba(0,0,0,0.75);
	}
}

.hero-header {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 30px;

	p {
		display: inline-block;
		letter-spacing: 2px;
		font-weight: 300;
		padding: 5px 20px;
		text-shadow: 1px 1px 5px black;
	}
}

.specials.content {
	text-align: center;
}

.weekly-specials {
	max-width: 700px;
	margin: 0 auto;
	text-align: center;
	color: lighten($menu-color, 30%);
}
.special {
	text-align: center;
	img {
		border-radius: 50%;
		border: 3px solid $menu-color;

	}
}

.hero-img {
	height: 150px;
	width: auto;
}

@media (max-width: 768px) {

	.item-desc {
		width: 80%;
	}

	h1 {
		font-size: 1.2rem;
	}
	.hero-header {
		bottom: 10px;

		p {
			font-size: 0.8rem;
		}
	}
	nav li a {
		font-size:0.8rem;
		font-weight: 600;
		letter-spacing: 2px;
		margin: 1px;
		padding: 5px !important;
	}

	nav.shrink .navbar-brand {
		height: 0;

		img {
			height: 0;
			width: auto;
		}
	}
	nav .navbar-brand {
		width: 100%;
		height: 30px;
		text-align: center;
		-webkit-transition: all 0.15s;
		transition: all 0.15s;

		img {
			display: inline-block;
			height: 40px;
			width: auto;
		}

		&:hover img {
			height: 42px;
			width: auto;
		}
	}

	.tagline {
		width: 100%;
		height: auto;
	}

	.hero {
		margin-top: 70px	;
		height: 275px;
	}

	#accordion-menu {
		width: 100%;
		margin: 0;
	}

	#accordion-menu ul ul li {
		width: 100%;
	}

	.category-img {
		height: 100px;
	}

	.category-label {
		width: 150;
		font-size: 1rem;
	}

	.about .about-content {
		width: 100%;
		padding: 0 20px;
	}

	.about img {
		width: 300px;
		height: auto;
	}

	.questions-section .white-bg {
		width: 100%;
		text-align: center;
		letter-spacing: normal;
	}

	.specials-hero {
		background-position: center;
	}

}



//--------------------- REFACTORED ABOVE -----------------



























.picture-about {
	height: 400px;
	width: 400px;
	background: url('../img/interior.jpg') center center;
	background-size: cover;
	float: left;
	margin-right: 30px;
}

.logo-about {
	display: block;
	width: 350px;
	height: auto;
	margin: 0 auto;
}

.specials h2 {
	color: $text-color;
	font-style: normal;
	text-transform: uppercase;
}

h2 {
	margin: 7px 0;
	padding: 10px 0;
	font-size: 1.2rem;
	width: 100%;
	color: black;
	font-style: italic;
	text-shadow: none;
	font-weight: 600;
	text-align: center;
}


b {
	color: $text-color;
}







.category-content {
	display: none;
	height: 0;
}






//--------------------------
.section-header {
	margin-bottom: 30px;

	> * {
		margin: 0;
		padding: 0;
	}

	p {
		color: $subtitle-text-color;
	}
}





.logo img {
	display: block;
	margin: 0 auto;

}
.content {
	> .row {
		margin: 10px;
	}

	> .row-fluid {
		margin: 0 !important;
	}

	> .no-pad {
		margin: 0 -15px;
	}

	&.home {
		margin-top: 90vh;
	}



}






.key {
	font-weight: bold;
	text-transform: uppercase;
}


.contact-separator {
	margin: 30px 10%;
	height: 1px;
	background: $separator-color;
}

.separator {
	margin: 10px 10%;
	height: 1px;
	background: $separator-color;
}



.happy-hour {
	position: relative;
	max-width: 500px;
	margin: 0 auto 300px;
	.separator {
	margin: 10px 0;
	}
	.key {
		margin: 10px;
		float: left;
	}

	.value {
		float: right;
		margin: 10px;
	}
}

.contact-text {
	position: relative;
	max-width: 100%;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 100%;

	.h2{
		font-size: 150%;
		font-weight: bold;
		color: $nav-text-color;
		text-transform: uppercase;
		letter-spacing: 3px;
	}

	.h3{
		font-size: 100%;
		font-weight: bold;
		color: $nav-text-color;
		letter-spacing: 2px;
		line-height: 150%;
	}

	a {
		color: white;
		font-size:120%;
		border: 3px solid white;
		padding: 5px 10px;
	}

	.content{
		color: $nav-text-color;
		letter-spacing: 2px;
		line-height: 120%;

		a {
			color: $nav-text-color;
			text-decoration: none;
			font-size: 100%;
			font-weight: bolder;
			border: none;
			padding: none;
		}
	}

}


.map {
	width: max-width;
}

.contact-content {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}





.instructions {
	font-size: 90%;
}
