@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300,200);
@font-face {
  font-family: helvetica-reg;
  src: url("../fonts/HelveticaNeue.ttf"); }
@font-face {
  font-family: helvetica-bold;
  src: url("../fonts/HelveticaNeueBd.ttf"); }
@font-face {
  font-family: helvetica-med;
  src: url("../fonts/HelveticaNeueMd.ttf"); }
@font-face {
  font-family: sensory;
  src: url("../fonts/SensoryOverload.ttf"); }
html {
  font-size: 18px;
  /* rem font sizes will be relative to this font */
  background: black; }

body {
  font-family: 'Source Sans Pro', helvetica-med, sans-serif;
  background: url("../img/asfalt.png");
  background-repeat: repeat;
  color: #F1F1F1;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
  font-size: 1rem; }

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #FFFFFF;
  text-transform: uppercase; }

.row.no-pad {
  margin-right: 0;
  margin-left: 0; }

nav {
  margin: 0 !important;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6); }
  nav .navbar-inner {
    padding: 7px; }
  nav ul {
    display: flex;
    justify-content: space-between; }
  nav li a {
    margin: auto 10px;
    color: #FFFFFF;
    border: 2px solid transparent;
    -webkit-transition: all 0.15s;
    transition: all 0.15s; }
    nav li a:hover {
      background: none !important;
      border-color: #FFFFFF;
      text-decoration: none;
      color: #FFFFFF; }
    nav li a.active {
      border: 2px solid #FFFFFF; }
  nav .navbar-brand {
    margin: 0;
    padding: 0;
    border: none; }
    nav .navbar-brand img {
      height: 60px;
      width: auto;
      -webkit-transition: all 0.15s;
      transition: all 0.15s; }
    nav .navbar-brand:hover {
      border: none; }
    nav .navbar-brand:hover img {
      height: 62px;
      width: auto; }

.gradient {
  background: #F50057;
  background: -webkit-linear-gradient(left, #F50057, #6200EA);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #F50057, #6200EA);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #F50057, #6200EA);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #F50057, #6200EA);
  /* Standard syntax */ }

.tagline {
  position: relative;
  top: 150px;
  height: 400px;
  width: auto;
  padding: 15px; }

.hero {
  margin-top: 68px;
  height: 350px;
  width: 100%;
  text-align: center; }

.home-hero {
  height: 100vh !important;
  /* makes the image take up the whole screen */
  margin-top: 0 !important;
  background: url("../img/home-hero-5-darker.png") center right/cover no-repeat;
  background-color: #403A38; }

.menu-hero {
  background: url("../img/menu-hero.png") center center/cover no-repeat;
  background-color: #024D6A; }

.explore {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-transform: uppercase; }
  .explore a {
    color: #FFFFFF;
    -webkit-transition: all 0.15s;
    transition: all 0.15s; }
    .explore a:hover, .explore a:active, .explore a:visited {
      color: #ff387f;
      text-decoration: none; }

.logo-about {
  width: 435px;
  height: auto; }

.instructions {
  text-align: center;
  color: #b5adad; }
  .instructions i {
    padding: 0 5px;
    color: #ff5c96; }

#accordion-menu,
#accordion-menu ul,
#accordion-menu li,
#accordion-menu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  position: relative;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); }

#accordion-menu a {
  line-height: 1.3; }

#accordion-menu {
  width: 75%;
  margin: 0 auto; }

#accordion-menu > ul > li > a {
  display: block;
  background: #6A5F5F;
  color: #FFFFFF;
  border-bottom: 1px solid #F1F1F1;
  text-transform: uppercase; }

#accordion-menu > ul > li > a > span {
  background: #6A5F5F;
  padding: 10px;
  display: block;
  font-size: 13px;
  font-weight: 300; }

#accordion-menu > ul > li > a:hover {
  text-decoration: none; }

#accordion-menu span.cnt {
  position: absolute;
  top: 8px;
  right: 15px;
  padding: 0;
  margin: 0;
  background: none; }

/* Sub menu */
#accordion-menu ul ul {
  display: none; }

#accordion-menu ul ul li {
  margin: 0;
  border-bottom: 1px solid #e0e0e0; }

#accordion-menu ul ul a {
  padding: 25px;
  display: block;
  color: #d5d4d4;
  background: #6A5F5F;
  font-size: 0.8rem;
  cursor: default; }
  #accordion-menu ul ul a i {
    padding: 0 5px;
    color: #ff5c96;
    cursor: pointer; }

.category-img:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.category-img {
  height: 200px;
  width: 100%;
  border-top: 2px solid white;
  border-bottom: 1px solid white;
  text-align: center; }
  .category-img.appetizers {
    border-top: 3px solid white;
    background: url("../img/menu-appetizers.png") center center/cover no-repeat; }
  .category-img.drinks {
    background: url("../img/menu-drinks.png") center center/cover no-repeat; }
  .category-img.salad {
    background: url("../img/menu-salad.png") center center/cover no-repeat; }
  .category-img.tapas {
    background: url("../img/menu-tapas.png") center center/cover no-repeat; }
  .category-img.yakitori {
    background: url("../img/menu-yakitori.png") center center/cover no-repeat; }
  .category-img.dessert {
    border-bottom: 3px solid white;
    background: url("../img/menu-dessert.png") center center/cover no-repeat; }

.category-label {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  padding: 4px 25px;
  font-family: 'Source Sans Pro';
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  border: 3px solid white; }

footer {
  margin-top: 100px;
  padding-bottom: 50px;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  overflow: hidden;
  color: #d9d9d9;
  text-align: center; }
  footer img {
    position: absolute;
    left: 0;
    width: 100%;
    height: auto; }
  footer .footer-content {
    margin-top: 25px;
    border: 3px solid white;
    text-shadow: none; }
    footer .footer-content .res {
      font-size: 0.8rem; }
      footer .footer-content .res a {
        color: #FFFFFF;
        border-bottom: 1px solid #FFFFFF; }
        footer .footer-content .res a:hover {
          color: #b3b3b3;
          text-decoration: none; }

@media (max-width: 768px) {
  nav li a {
    font-size: 0.8rem;
    font-weight: normal;
    letter-spacing: 2px;
    margin: 1px;
    padding: 5px !important; }

  nav.shrink .navbar-brand {
    height: 0; }
    nav.shrink .navbar-brand img {
      height: 0;
      width: auto; }

  nav .navbar-brand {
    width: 100%;
    height: 30px;
    text-align: center;
    -webkit-transition: all 0.15s;
    transition: all 0.15s; }
    nav .navbar-brand img {
      display: inline-block;
      height: 40px;
      width: auto; }
    nav .navbar-brand:hover img {
      height: 42px;
      width: auto; }

  .tagline {
    width: 100%;
    height: auto; }

  .hero {
    margin-top: 70px;
    height: 275px; }

  #accordion-menu {
    width: 100%;
    margin: 0; }

  #accordion-menu ul ul li {
    width: 100%; }

  .category-img {
    height: 100px; }

  .category-label {
    width: 150;
    font-size: 1rem; } }
h2 {
  color: #F50057;
  font-family: helvetica-bold, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 0.9rem !important;
  text-align: center; }

h3 {
  text-transform: uppercase;
  margin: 7px 0;
  padding: 0;
  font-size: 20px; }

.picture-about {
  height: 400px;
  width: 400px;
  background: url("../img/interior.jpg") center center;
  background-size: cover;
  float: left;
  margin-right: 30px; }

.logo-about {
  display: block;
  width: 350px;
  height: auto;
  margin: 0 auto; }

.about {
  margin: 30px auto; }
  .about h2 {
    padding: 10px; }
  .about p {
    color: #F1F1F1;
    padding: 15px; }

b {
  color: #F1F1F1; }

.category-content {
  display: none;
  height: 0; }

.item {
  position: relative;
  text-align: left; }
  .item .item-name {
    font-weight: bold;
    text-transform: uppercase; }
  .item .item-desc {
    font-weight: light; }
  .item .item-price {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -10px; }

.section-header {
  margin-bottom: 30px; }
  .section-header > * {
    margin: 0;
    padding: 0; }
  .section-header p {
    color: #9D9B9B; }

.weekly-special {
  height: 150px;
  overflow: scroll;
  margin-bottom: 30px;
  margin-right: 30px;
  border: 1px solid #9D9B9B; }
  .weekly-special img {
    float: left;
    margin-left: -15px; }
  .weekly-special .special-desc {
    margin-left: 160px;
    vertical-align: top; }
    .weekly-special .special-desc p {
      color: #9D9B9B; }

.logo img {
  display: block;
  margin: 0 auto; }

.content > .row {
  margin: 10px; }
.content > .row-fluid {
  margin: 0 !important; }
.content > .no-pad {
  margin: 0 -15px; }
.content.home {
  margin-top: 90vh; }

.hero.specials {
  background: url("../img/specials-hero.jpg") no-repeat center center;
  background-size: cover; }

.key {
  font-weight: bold;
  text-transform: uppercase; }

.contact-separator {
  margin: 30px 10%;
  height: 1px;
  background: #9D9B9B; }

.separator {
  margin: 10px 10%;
  height: 1px;
  background: #9D9B9B; }

.happy-hour {
  position: relative;
  max-width: 500px;
  margin-bottom: 100px; }
  .happy-hour .key {
    float: left; }
  .happy-hour .value {
    float: right; }

.contact {
  background: url("../img/exterior.jpg") no-repeat center center;
  background-size: cover; }

.contact-content {
  text-align: center; }

.address a {
  color: white;
  font-size: 120%;
  border: 3px solid white;
  padding: 5px 10px; }

.instructions {
  font-size: 90%; }

/* Base Styles */

/*# sourceMappingURL=style.css.map */
