@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
@font-face {
  font-family: helvetica-reg;
  src: url("../fonts/HelveticaNeue.ttf"); }
@font-face {
  font-family: helvetica-bold;
  src: url("../fonts/HelveticaNeueBd.ttf"); }
@font-face {
  font-family: helvetica-med;
  src: url("../fonts/HelveticaNeueMd.ttf"); }
@font-face {
  font-family: sensory;
  src: url("../fonts/SensoryOverload.ttf"); }
body {
  font-family: Helvetica, helvetica-med, sans-serif;
  background: #1C1C1C;
  color: #F1F1F1; }

h2 {
  color: #F50057;
  font-family: sensory, helvetica-med, sans-serif;
  text-transform: uppercase; }

h3 {
  text-transform: uppercase;
  margin: 7px 0;
  padding: 0;
  font-size: 20px; }

h4.ourstory {
  position: absolute;
  display: inline-block;
  bottom: 0;
  text-align: center;
  left: 0;
  right: 0;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.6); }

.row.no-pad {
  margin-right: 0;
  margin-left: 0; }

.row.no-pad > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

b {
  color: #F1F1F1; }

.active {
  border: 3px solid white; }

.tagline {
  position: relative;
  display: inline-block;
  font-family: 'Source Sans Pro';
  top: 150px;
  margin-left: 20px;
  font-size: 40px;
  background: rgba(0, 0, 0, 0.65);
  padding: 30px;
  margin: 0; }

.category-content {
  display: none;
  height: 0; }

.item {
  position: relative;
  text-align: left; }
  .item .item-name {
    font-weight: bold;
    text-transform: uppercase; }
  .item .item-desc {
    font-weight: light; }
  .item .item-price {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -10px; }

.section-header {
  text-align: center;
  margin-bottom: 30px; }
  .section-header > * {
    margin: 0;
    padding: 0; }
  .section-header p {
    color: #9D9B9B; }

.weekly-special {
  height: 150px;
  overflow: scroll;
  margin-bottom: 30px;
  border: 1px solid #9D9B9B; }
  .weekly-special img {
    float: left; }
  .weekly-special .special-desc {
    margin-left: 160px;
    vertical-align: top; }
    .weekly-special .special-desc p {
      color: #9D9B9B; }

nav {
  font-family: helvetica-med;
  letter-spacing: 1px;
  text-shadow: 1px 1px black;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px; }

header {
  padding: 7px 0;
  z-index: 100000;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.7); }

nav {
  margin-top: 3px; }
  nav a {
    color: #FFFFFF;
    margin: 3px 0;
    padding: 5px 10px;
    border: 2px solid transparent;
    -webkit-transition: all 0.15s;
    transition: all 0.15s; }
  nav a:hover {
    text-decoration: none;
    color: #FFFFFF;
    border-color: #FFFFFF; }

.hero {
  margin-top: 75px;
  height: 250px; }

.hero-container {
  background: url("http://img07.deviantart.net/e2dd/i/2013/110/1/3/free_mobile_app_background_by_diamonddew123-d62fu70.png");
  background-size: cover;
  width: 100%;
  height: 1000px;
  position: relative; }

.hero-container h1 {
  position: relative;
  top: 50px; }
.hero-container h3 {
  margin-left: 40%;
  position: absolute;
  bottom: 0; }

.logo img {
  display: block;
  margin: 0 auto;
  height: 23px;
  width: 149px; }

.content > .row {
  margin: 10px; }
.content > .row-fluid {
  margin: 0 !important; }
.content > .first {
  margin: 0 -15px; }
.content.home {
  margin-top: 90vh; }

.hero.specials {
  background: url("http://placehold.it/1400x1000") no-repeat center center;
  background-size: cover; }

.footer-gradient {
  width: 100%;
  height: 10px;
  margin-bottom: 25px; }

.gradient {
  background: #F50057;
  background: -webkit-linear-gradient(left, #F50057, #6200EA);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #F50057, #6200EA);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #F50057, #6200EA);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #F50057, #6200EA);
  /* Standard syntax */ }

footer {
  padding-bottom: 50px;
  text-align: center; }

.key {
  font-weight: bold;
  text-transform: uppercase; }

.contact-separator {
  margin: 30px 10%;
  height: 1px;
  background: #9D9B9B; }

.separator {
  margin: 10px 10%;
  height: 1px;
  background: #9D9B9B; }

.home-hero {
  position: absolute;
  width: 100%;
  padding: 0;
  top: 0;
  background: url("../img/home-hero.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh; }

.contact {
  background: url("../img/exterior.jpg") no-repeat center center;
  background-size: cover; }

.contact-content {
  text-align: center; }

.address a {
  color: white;
  font-size: 120%;
  border: 3px solid white;
  padding: 5px 10px; }

.menuhero {
  background: url("../img/menu-hero.jpg") no-repeat center center;
  background-size: cover; }

.instructions {
  font-size: 90%; }

.category-img:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.category-img {
  background: url("http://placehold.it/700x500");
  width: 100%;
  height: 90px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  text-align: center; }
  .category-img.appetizers {
    background: url("../img/menu-appetizers.png") no-repeat center center;
    background-size: cover; }
  .category-img.drinks {
    background: url("../img/menu-drinks.png") no-repeat center center;
    background-size: cover; }
  .category-img.salad {
    background: url("../img/menu-salad.png") no-repeat center center;
    background-size: cover; }
  .category-img.tapas {
    background: url("../img/menu-tapas.png") no-repeat center center;
    background-size: cover; }
  .category-img.yakitori {
    background: url("../img/menu-yakitori.png") no-repeat center center;
    background-size: cover; }
  .category-img.dessert {
    background: url("../img/menu-dessert.png") no-repeat center center;
    background-size: cover; }

.category-label {
  display: inline-block;
  vertical-align: middle;
  text-shadow: 1px 1px black;
  border: 3px solid white;
  padding: 4px 25px;
  font-family: helvetica-med;
  font-size: 120%;
  width: 150px; }

/* Base Styles */
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  position: relative; }

#cssmenu a {
  line-height: 1.3; }

#cssmenu {
  width: 100%; }

#cssmenu > ul > li > a {
  display: block;
  background: #6A5F5F;
  color: #FFFFFF;
  border-bottom: 1px solid #F1F1F1;
  text-transform: uppercase; }

#cssmenu > ul > li > a > span {
  background: #6A5F5F;
  padding: 10px;
  display: block;
  font-size: 13px;
  font-weight: 300; }

#cssmenu > ul > li > a:hover {
  text-decoration: none; }

#cssmenu span.cnt {
  position: absolute;
  top: 8px;
  right: 15px;
  padding: 0;
  margin: 0;
  background: none; }

/* Sub menu */
#cssmenu ul ul {
  display: none; }

#cssmenu ul ul li {
  margin: 0;
  border-bottom: 1px solid #e0e0e0; }

#cssmenu ul ul a {
  padding: 20px;
  display: block;
  color: #F1F1F1;
  background: #6A5F5F;
  font-size: 13px;
  cursor: default; }

@media screen and (max-width: 992px) {
  .map {
    display: none; } }
@media (min-width: 768px) {
  .category-img {
    height: 150px; }

  #cssmenu {
    width: 75%;
    margin: 0 auto; }

  .instructions {
    text-align: center; }

  #cssmenu ul ul li {
    display: inline-block;
    width: 49%; }

  header {
    padding: 7px 0;
    z-index: 100000; }

  nav {
    float: right;
    display: inline-block;
    position: relative;
    justify-content: none;
    margin-top: 7px;
    margin-right: 20px; }
    nav a {
      color: #FFFFFF;
      margin: 3px 0;
      padding: 5px 10px;
      border: 2px solid transparent;
      -webkit-transition: all 0.15s;
      transition: all 0.15s; }
    nav a:hover {
      text-decoration: none;
      color: #FFFFFF;
      border-color: #FFFFFF; }

  .logo {
    display: inline-block;
    margin-left: 20px; }

  .logo img {
    display: block;
    float: left;
    height: 29px;
    width: 186px; }

  .home-hero {
    text-align: center; }

  .tagline {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    left: 0;
    right: 0; }

  .hero {
    margin-top: 45px;
    height: 350px; } }

/*# sourceMappingURL=style.css.map */
